{% extends "layout.html" %}

{% block title %}Sign In{% endblock %}
{% block link %}<link rel="stylesheet" href="signin.css">{% endblock %}

{% block body%}
<h1> Sign In </h1>
<form class="form-group" action="{{url_for('home')}}" method="post">
    <input class="form-control" type="text" name="name" placeholder="Name">
    <p></p>
    <input class="form-control" type="password" name="password" placeholder="Password">
    <p></p>
    <button class="btn btn-primary">Sign In</button>
</form>

{% if invalid == True %}
<h4>Incorrect username or password. Please try again.</h4>
{% endif %}
{% endblock %}
